# Import Libraries

In [2]:
import pandas as pd
import numpy as np

import pickle

# Load Model

In [7]:
with open('best_svm.pkl', 'rb') as model:
    svm_model = pickle.load(model)

# Data Dummy

In [11]:
dataInf = {
    'limit_balance' : [200000, 120000, 150000, 100000, 80000],
    'education_level' : [2, 1, 4, 3, 3],
    'pay_1' : [0, 1, -1, 2, 0],
    'pay_2' : [-1, -1, 0, 0, -2],
    'pay_3' : [1, -1, 2, 0, -2],
    'pay_4' : [1, 0, 0, 1, -2],
    'pay_5' : [-2, -1, 0, 2, 0],
    'pay_6' : [0, -1, 0, 1, -2]
}

dataInf = pd.DataFrame(dataInf)
dataInf

   limit_balance  education_level  pay_1  pay_2  pay_3  pay_4  pay_5  pay_6
0         200000                2      0     -1      1      1     -2      0
1         120000                1      1     -1     -1      0     -1     -1
2         150000                4     -1      0      2      0      0      0
3         100000                3      2      0      0      1      2      1
4          80000                3      0     -2     -2     -2      0     -2

# Prediction

In [13]:
yPred_inf = svm_model.predict(dataInf)
yPred_inf

array([0, 0, 0, 1, 0], dtype=int64)

Berdasarkan hasil di atas, dapat dilihat bahwa model memprediksi gagal bayar pada data dummy index ke-4. Sedangkan untuk index lainnya diprediksi tidak gagal bayar.